<!--<ion-pane>-->
<!--<ion-header-bar class="bar-stable">-->
<!--<h1 class="title">Ionic Blank Starter</h1>-->
<!--</ion-header-bar>-->
<!--<ion-content>-->
<!--</ion-content>-->
<!--</ion-pane>-->


<ion-content>

    <button ng-click="show()" class="button button-block button-positive">
        ActionSheet
    </button>
    <button ng-click="myPopup()" class="button button-block button-positive">
        ActionSheet
    </button>
    <button ng-click="showConfirm()" class="button button-block button-positive">
        ActionSheet
    </button>
    <button ng-click="showAlert()" class="button button-block button-positive">
        ActionSheet
    </button>
</ion-content>