<!--<ion-pane>-->
<!--<ion-header-bar class="bar-stable">-->
<!--<h1 class="title">Ionic Blank Starter</h1>-->
<!--</ion-header-bar>-->
<!--<ion-content>-->
<!--</ion-content>-->
<!--</ion-pane>-->
<div class="bar bar-footer bar-balanced">
    <div class="title">Card</div>
</div>
<ion-content>
    <div class="card">
        <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
        </div>
    </div>
    <div class="card">
        <div class="item item-divider">
            I'm a Header in a Card!
        </div>
        <div class="item item-text-wrap">
            This is a basic Card with some text.
        </div>
        <div class="item item-divider">
            I'm a Footer in a Card!
        </div>
    </div>
    <div class="list card">

        <a href="#" class="item item-icon-left">
            <i class="icon ion-home"></i>
            Enter home address
        </a>

        <a href="#" class="item item-icon-left">
            <i class="icon ion-ios7-telephone"></i>
            Enter phone number
        </a>

        <a href="#" class="item item-icon-left">
            <i class="icon ion-wifi"></i>
            Enter wireless password
        </a>

        <a href="#" class="item item-icon-left">
            <i class="icon ion-card"></i>
            Enter card information
        </a>

    </div>
    <div class="list card">

        <div class="item item-avatar">
            <img src="http://deppon.51job.com/images/nav/nav_01.jpg">
            <h2>Pretty Hate Machine</h2>
            <p>Nine Inch Nails</p>
        </div>

        <div class="item item-image">
            <img src="http://www.deppon.com/u/cms/cms/201409/25101402bzzj.jpg">
        </div>

        <a class="item item-icon-left assertive" href="#">
            <i class="icon ion-music-note"></i>
            Start listening
        </a>

    </div>



</ion-content>
