<!--<ion-pane>-->
<!--<ion-header-bar class="bar-stable">-->
<!--<h1 class="title">Ionic Blank Starter</h1>-->
<!--</ion-header-bar>-->
<!--<ion-content>-->
<!--</ion-content>-->
<!--</ion-pane>-->



<ion-content>


    <div class="list">

        <label class="item item-input item-select">
            <div class="input-label">
              下拉列表
            </div>
            <select>
                <option>Blue</option>
                <option selected>Green</option>
                <option>Red</option>
            </select>
        </label>
        <div class="range">
            <i class="icon ion-volume-low"></i>
            <input type="range" name="volume">
            <i class="icon ion-volume-high"></i>
        </div>

        <div class="list">
            <div class="item range range-positive">
                <i class="icon ion-ios7-sunny-outline"></i>
                <input type="range" name="volume" min="0" max="100" value="33">
                <i class="icon ion-ios7-sunny"></i>
            </div>
        </div>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <ul class="list">

            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">

                </label>多选1
                </li><li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>多选2 </li><li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>多选3
            </li>


        </ul>
        <div class="list">

            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                    单选1
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-content">
                    单选2
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>

    </div>


    <div class="list">
        <label class="item item-input">
            <input type="text" placeholder="First Name">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Last Name">
        </label>
        <label class="item item-input">
            <textarea placeholder="Comments"></textarea>
        </label>
    </div>
    <div class="list">
        <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text">
        </label>
        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password">
        </label>
    </div>
    <div class="list">
        <label class="item item-input item-stacked-label">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="John">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Last Name</span>
            <input type="text" placeholder="Suhr">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="text" placeholder="john@suhr.com">
        </label>
    </div>

</ion-content>
