<ion-content>
    <ion-slide-box>
        <ion-slide>
            <div class="box blue" style="width:400px; heigt:400px;border: solid red 4;">

            </div>
        </ion-slide>
        <ion-slide>
            <div class="box red">
                Slide 2!
            </div>
        </ion-slide>
    </ion-slide-box>

    <ion-refresher
            pulling-text="下拉刷新..."
            on-refresh="doRefresh()">
    </ion-refresher>

    <ion-list>
        <a class="item item-thumbnail-left" href="#" ng-repeat="item in items"
           item="item"
           href="#/{{item.id}}" ng-click="clickItem()">
            <img src="cover.jpg">

            <h2>{{item.title}}</h2>

            <p>{{ item.id }}</p>
        </a>
    </ion-list>
    <ion-infinite-scroll
            ng-if="moreDataCanBeLoaded()"
            on-infinite="loadMore()"
            icon="ion-loading-c"
            distance="1%">
    </ion-infinite-scroll>
</ion-content>