<ion-content>
    <ion-refresher
            pulling-text="下拉刷新..."
            on-refresh="doRefresh()">
    </ion-refresher>

    <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide ng-repeat="item in imgs">
            <div class="box">
                <img src="{{item.url}}"/>
            </div>
        </ion-slide>
    </ion-slide-box>

    <ion-list>
        <a class="item item-thumbnail-left" href="#" ng-repeat="item in news"
           item="item"
           href="#/{{item.id}}" ng-click="clickItem()">
            <img src="{{item.url}}">


            <p>{{ item }}</p>
        </a>
    </ion-list>
    <ion-infinite-scroll
            ng-if="moreDataCanBeLoaded"
            on-infinite="loadMore()"
            icon="ion-loading-c"
            distance="1%">
    </ion-infinite-scroll>
</ion-content>