<ion-content>
    <ion-refresher
            pulling-text="下拉刷新..."
            on-refresh="doRefresh()">
    </ion-refresher>

    <ion-slide-box does-continue="true"  on-slide-changed="slideHasChanged($index)">
        <ion-slide ng-repeat="item in imgs" auto-play="true">
            <div class="box">
                <img class="newsSlideImage" src="{{item.url}}"/>
            </div>
        </ion-slide>
    </ion-slide-box>

    <ion-list>
        <a class="item item-thumbnail-left" href="#" ng-repeat="item in news"
           item="item"
           href="#/newsDetail/{{item.id}}" ng-click="clickItem()">
            <img src="{{item.url}}">

            <h2>{{item.title}}</h2>

            <p>{{ item.content }}</p>
             <span class="item-note">
     <div class="row">
         <div class="col"><span class="state">{{item.state}}</span></div>
         <div class="col"> <span class="date">{{item.date}}</span></div>
     </div>

    </span>
        </a>
    </ion-list>
    <ion-infinite-scroll
            ng-if="moreDataCanBeLoaded"
            on-infinite="loadMore()"
            icon="ion-loading-c"
            distance="1%">
    </ion-infinite-scroll>
</ion-content>